body{
    background-color: blue
}

.left{
display:flex;
margin: right 15px;


}
.container{
    justify-content:flex-end;
    display:flex;
    padding-left:25px 40px;
    flex-flow:row nowrap;
    border:2px;
    margin:25px;
    align:right;



}

.right{
    font-weight:bold;
    border-radius:2px;




}
.bottom{
    border-style:solid;
    border-radius:2px;
    border-color:blue






} 

.top{
    

}